body {
    background: black;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.post {
    background: white;
    width: 450px;
    height: 620px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hd-icon {
    float: left;
    display: flex;
    font-size: 25px;
    margin: auto;
    margin-left: 15px;
    padding-top: 16px;
}

ul{
    display: flex;
    float: left;
    flex-direction: column;
    list-style-type: none;
    margin: auto;
    margin-left: 0;
    margin-top: 12px;
    margin-bottom: 13px;
    padding-left: 9px;
}

p{
    margin:auto;
}

.threedots {
    float: right;
    padding-top: 7px;
}
.threedots:after {
    content: '\2807';
    font-size: 32px;
}

img{
    width: 100%;
    max-height: 350px;
}

.post-img{
    max-width: 100%;
}

.ft-icons {
    font-size: 28px;
    padding-left: 12px;
    padding-top: 11px;
}

.bookmark {
    float: right;
    padding-right: 15px;
}

#likedby{
    padding-top: 23px;
    padding-left:11px;
}

#description{
    padding-top: 16px;
    padding-left: 11px;
    padding-right: 13px;
}